.rotating {
  animation: rotate 5s linear infinite;
  transform-style: preserve-3d;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.about {
  font: 16px Helvetica, Arial, sans-serif;
}
